body {
    height: 100vh;
    display: flex;
}

select, input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #dedede;
}

input:focus {
    border-radius: 8px;
    border: none;
    background-color: #dedede;
}

form, .content {
    width: 20%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

form {
    align-self: center;
    elevation: higher;
}

div {
    margin: 16px;
}

tr {
    background-color: #d8d8d8;
}

td {
    text-align: center;
    padding: 16px;
}

table {
    width: 500px;
    border: 1px solid #d8d8d8;
}